<div
  class="d-flex flex-column container justify-content-center"
  *ngIf="userPosts$ | async as userPosts"
>
  <h4 class="bg-light p-4 border-bottom border-dark">User Posts</h4>
  <div class="d-flex flex-column">
    <div
      class="p-4 border-bottom border-dark d-flex flex-column"
      *ngFor="let post of userPosts; let i = index"
      [ngClass]="{ 'bg-light': i % 2 == 1 }"
    >
      <div>{{ post.userId }} - {{ post.title }}</div>
      <div [innerHTML]="post.body"></div>
    </div>
  </div>
</div>
